html {
  height: auto;
}

body {
  height: auto;
  margin: 0;
  padding: 0;
}

#map_canvas {
  height: 500px;

  
}


.bt_filter {
	padding:5px;
	width:140px;
}
.bt_verde {
	background:#7CFC00;	
}
.bt_roxo {
	background:#A020F0;	
}
