@{
    Layout = "_Layout_Admin.cshtml";
}

@{
    ViewBag.Title = "Denis";
    ViewBag.Subtitulo = "muito legal";
}





<h2>Denis -  @ViewBag.teste</h2>


@Html.TextBox("outronome", null, new { style = "doidera" });

@Html.Partial("Menu")

