@{
    //
}

<ul id="navigation" class="clear_fix roundify">
      <li class="current_page_item">@Html.ActionLink("Home", "Index", "Home",new { @class="main_buttons"})</li>
      <li> <a href="single.html" class="main_buttons" >@Html.ActionLink("About", "About", "Home", new { @class = "main_buttons" })</a>
         <ul>
            <li><a href="#"><span>Sub Nav Button 1</span></a></li>
            <li> <a href="#"><span>Sub Nav Button 2</span></a>
               <ul>
                  <li><a href="#"><span>Sub Nav Button 1</span></a></li>
                  <li><a href="#"><span>Sub Nav Button 2</span></a></li>
                  <li><a href="#"><span>Sub Nav Button 3</span></a></li>
                  <li><a href="#"><span>Sub Nav Button 4</span></a></li>
                  <li class="last"><a href="#"><span>This is a long text to sample a wrap</span></a></li>
               </ul>
            </li>
            <li><a href="#"><span>Sub Nav Button 3</span></a></li>
            <li><a href="#"><span>Sub Nav Button 4</span></a></li>
            <li class="last"><a href="#"><span>This is a long text to sample a wrap</span></a></li>
         </ul>
      </li>
      <li><a href="buyers.html" class="main_buttons" >Buyers</a></li>
      <li> <a href="sellers.html" class="main_buttons" >Sellers</a>
         <ul>
            <li><a href="#"><span>Sub Nav Button 1</span></a></li>
            <li> <a href="#"><span>Sub Nav Button 2</span></a>
               <ul>
                  <li><a href="#"><span>Sub Nav Button 1</span></a></li>
                  <li><a href="#"><span>Sub Nav Button 2</span></a></li>
                  <li><a href="#"><span>Sub Nav Button 3</span></a></li>
                  <li><a href="#"><span>Sub Nav Button 4</span></a></li>
                  <li class="last"><a href="#"><span>This is a long text to sample a wrap</span></a></li>
               </ul>
            </li>
            <li><a href="#"><span>Sub Nav Button 3</span></a></li>
            <li><a href="#"><span>Sub Nav Button 4</span></a></li>
            <li class="last"><a href="#"><span>This is a long text to sample a wrap</span></a></li>
         </ul>
      </li>
      <li><a href="post-list.html" class="main_buttons" >Blog</a></li>
      <li><a href="news-list.html" class="main_buttons" >News</a></li>
      <li><a href="contact-us.html" class="main_buttons" >Contact Us</a></li>
   </ul>
   <!-- end: navigation -->

