@{
    ViewBag.Title = "Home Page";
}

<div id="column_left">
      
      	<!-- begin: sliding featured banner -->
         <div id="featured_border" class="jcarousel-container">
            <div id="featured_wrapper" class="jcarousel-clip">
               <ul id="featured_images" class="jcarousel-list">
                  <li><img src="/Content/images/featured-banner-image1.jpg" width="708" height="367" alt="Sample Image 1" /></li>
                  <li><img src="/Content/images/featured-banner-image2.jpg" width="708" height="367" alt="Sample Image 1" /></li>
                  <li><img src="/Content/images/featured-banner-image3.jpg" width="708" height="367" alt="Sample Image 1" /></li>
                  <li><img src="/Content/images/featured-banner-image4.jpg" width="708" height="367" alt="Sample Image 1" /></li>
                  <li><img src="/Content/images/featured-banner-image5.jpg" width="708" height="367" alt="Sample Image 1" /></li>
                  <li><img src="/Content/images/featured-banner-image6.jpg" width="708" height="367" alt="Sample Image 1" /></li>
                  <li><img src="/Content/images/featured-banner-image7.jpg" width="708" height="367" alt="Sample Image 1" /></li>
               </ul>
            </div>
            <div id="featured_positioner_desc" class="jcarousel-container">
               <div id="featured_wrapper_desc" class="jcarousel-clip">
                  <ul id="featured_desc" class="jcarousel-list">
                     <li>
                        <div>
                           <h2>@ViewBag.Message</h2>
                           <p>Nunc quis nibh mi. Quisque nisl tellus, condimentum non suscipit eget, sagittis et dui. Sed erat ante, sodales vitae faucibus in, elementum eu libero. Aliquam erat volutpat.</p>
                           <h3>$ 10,000</h3>
                        </div>
                     </li>
                     <li>
                        <div>
                           <h2>The Title 2</h2>
                           <p>Nunc quis nibh mi. Quisque nisl tellus, condimentum non suscipit eget, sagittis et dui. Sed erat ante, sodales vitae faucibus in, elementum eu libero. Aliquam erat volutpat.</p>
                           <h3>$ 10,000</h3>
                        </div>
                     </li>
                     <li>
                        <div>
                           <h2>The Title 3</h2>
                           <p>Nunc quis nibh mi. Quisque nisl tellus, condimentum non suscipit eget, sagittis et dui. Sed erat ante, sodales vitae faucibus in, elementum eu libero. Aliquam erat volutpat.</p>
                           <h3>$ 10,000</h3>
                        </div>
                     </li>
                     <li>
                        <div>
                           <h2>The Title 4</h2>
                           <p>Nunc quis nibh mi. Quisque nisl tellus, condimentum non suscipit eget, sagittis et dui. Sed erat ante, sodales vitae faucibus in, elementum eu libero. Aliquam erat volutpat.</p>
                           <h3>$ 10,000</h3>
                        </div>
                     </li>
                     <li>
                        <div>
                           <h2>The Title 5</h2>
                           <p>Nunc quis nibh mi. Quisque nisl tellus, condimentum non suscipit eget, sagittis et dui. Sed erat ante, sodales vitae faucibus in, elementum eu libero. Aliquam erat volutpat.</p>
                           <h3>$ 10,000</h3>
                        </div>
                     </li>
                     <li>
                        <div>
                           <h2>The Title 6</h2>
                           <p>Nunc quis nibh mi. Quisque nisl tellus, condimentum non suscipit eget, sagittis et dui. Sed erat ante, sodales vitae faucibus in, elementum eu libero. Aliquam erat volutpat.</p>
                           <h3>$ 10,000</h3>
                        </div>
                     </li>
                     <li>
                        <div>
                           <h2>The Title 7</h2>
                           <p>Nunc quis nibh mi. Quisque nisl tellus, condimentum non suscipit eget, sagittis et dui. Sed erat ante, sodales vitae faucibus in, elementum eu libero. Aliquam erat volutpat.</p>
                           <h3>$ 10,000</h3>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
            <ul id="featured_buttons" class="clear_fix">
               <li>1</li>
               <li>2</li>
               <li>3</li>
               <li>4</li>
               <li>5</li>
               <li>6</li>
               <li>7</li>
            </ul>
         </div>
         <!-- end: sliding featured banner -->
         
         <!-- begin: map_bg -->
         <div id="map_bg">
            <div id="map_wrapper" class="clear_fix">
               <ul>
                  <li class="list_title">
                     <h2 class="font_sansation"><span>Quick Start</span> Links</h2>
                  </li>
                  <li><a href="#">Vivamus fermentum.</a></li>
                  <li><a href="#">Justo et convallis.</a></li>
                  <li><a href="#">Elementum erat est mattis diam.</a></li>
                  <li><a href="#">Ut aliquam lectus diam ac eros. Aenean consequat, elit a eleifend vulputate.</a></li>
                  <li><a href="#">Lacus leo auctor lacus.</a></li>
                  <li><a href="#">Eget tincidunt eros.</a></li>
               </ul>
               <ul>
                  <li class="list_title">
                     <h2 class="font_sansation"><span>Quick Start</span> Community</h2>
                  </li>
                  <li>Vivamus fermentum.</li>
                  <li>Justo et convallis.</li>
                  <li>Elementum erat est mattis diam.</li>
                  <li>Ut aliquam lectus diam ac eros. Aenean consequat, elit a eleifend vulputate.</li>
                  <li>Lacus leo auctor lacus.</li>
                  <li>Eget tincidunt eros.</li>
               </ul>
            </div>
         </div>
         <!-- end: map_bg -->
         
         <ul id="preview_1" class="clear_fix">
            <li> <img src="/Content/images/icon-graph.gif" width="85" height="85" alt="" class="preview_desc_icon" />
               <div class="preview_desc">
                  <h2 class="font_sansation">Quick Start Status</h2>
                  <p>Etiam vel semper lorem. In vel tincidunt felis. Etiam nunc metus, euismod dictum convallis id, rutrum ac orci. Morbi nec sapien nulla. Proin ultrices dignissim elit non porta. Mauris quis euismod sem.</p>
                  <p><a href="#" class="button_read_more"><span class="hide_this">Read More</span></a></p>
               </div>
            </li>
            <li> <img src="/Content/images/icon-money.gif" width="85" height="85" alt="" class="preview_desc_icon" />
               <div class="preview_desc">
                  <h2 class="font_sansation">Quick Start Tips</h2>
                  <p>Etiam vel semper lorem. In vel <a href="#">tincidunt</a> felis. Etiam nunc metus, euismod dictum convallis id, rutrum ac orci. Morbi nec sapien nulla. Proin ultrices dignissim elit non porta. Mauris quis euismod sem.</p>
                  <p><a href="#" class="button_read_more"><span class="hide_this">Read More</span></a></p>
               </div>
            </li>
         </ul>
         
      </div>