@{
    ViewBag.Title = "Sobre nós";
}
<div id="single_page">
      	<div class="basic_style_1">
         <h1 class="font_sansation page_title">Sobre nós</h1>
         
         <p>
         
         <span class="image_with_desc_wrap align_right">
         	<img src="/Content/images/sample-image-1.jpg" alt="" />
            <span class="image_desc png_fix">
            	<span>Sample Image Description</span>
            </span>
         </span>
         
         Lorem ipsum dolor sit amet, <strong>this is bold text</strong> consectetur adipiscing elit. <em>This font is in italic</em> cras lacinia  pellentesque elit nec sodales. Etiam vehicula egestas interdum. Nulla  facilisi. In at lectus odio, quis iaculis dui. Praesent et nisl nulla.  Vestibulum eget turpis eu justo faucibus facilisis. Quisque fringilla  luctus lacus sit amet dictum. Aliquam scelerisque iaculis velit quis  ullamcorper. <code>Pellentesque et leo ante, at fringilla lorem.</code> Vestibulum  imperdiet quam mi, sed feugiat purus. <a href="#">Proin condimentum</a>, ante ut  tincidunt varius, leo urna facilisis nisl, sed malesuada erat justo ut  dolor. Mauris lectus est, iaculis id consequat sollicitudin, mollis  commodo augue. Curabitur auctor neque pharetra metus luctus  consectetur. Cras faucibus sem eget nunc accumsan consequat. Cras  posuere ultrices eros eget placerat. </p>
         <p><strong>Sample Table</strong></p>
         <table cellpadding="0" cellspacing="0">
	         <thead>
            <tr>
               <th>Table Header One</th>
               <th>Table Header Two</th>
               <th>Table Header Three</th>
               <th>Table Header Four</th>
               <th>Table Header Five</th>
            </tr>
            </thead>
            <tr>
               <td>Nibh</td>
               <td>Facilisis vitae</td>
               <td>Pellentesque</td>
               <td>Viverra metus</td>
               <td>Donec neque dui</td>
            </tr>
            <tr>
               <td>Nulla facilisi</td>
               <td>Vivamus laoreet</td>
               <td>Donec porttitor</td>
               <td>Tincidunt Hendrerit</td>
               <td>Duis ac feugiat nulla</td>
            </tr>
            <tr>
               <td>Nibh</td>
               <td>Facilisis vitae</td>
               <td>Pellentesque</td>
               <td>Viverra metus</td>
               <td>Donec neque dui</td>
            </tr>
            <tr>
               <td>Nulla facilisi</td>
               <td>Vivamus laoreet</td>
               <td>Donec porttitor</td>
               <td>Tincidunt Hendrerit</td>
               <td>Duis ac feugiat nulla</td>
            </tr>
         </table>
         <p>Lorem ipsum dolor sit amet, <strong>this is bold text</strong> consectetur adipiscing elit. <em>This font is in italic</em> cras lacinia  pellentesque elit nec sodales. Etiam vehicula egestas interdum. Nulla  facilisi. In at lectus odio, quis iaculis dui. Praesent et nisl nulla.  Vestibulum eget turpis eu justo faucibus facilisis. Quisque fringilla  luctus lacus sit amet dictum. Aliquam scelerisque iaculis velit quis  ullamcorper. <code>Pellentesque et leo ante, at fringilla lorem.</code> Vestibulum  imperdiet quam mi, sed feugiat purus. <a href="#">Proin condimentum</a>, ante ut  tincidunt varius, leo urna facilisis nisl, sed malesuada erat justo ut  dolor. Mauris lectus est, iaculis id consequat sollicitudin, mollis  commodo augue. Curabitur auctor neque pharetra metus luctus  consectetur. Cras faucibus sem eget nunc accumsan consequat. Cras  posuere ultrices eros eget placerat.</p>
         <h2 class="font_sansation">Unordered List (h2)</h2>
         <ul>
            <li>List Item 1</li>
            <li>List Item 2
               <ul>
                  <li>List Item 1</li>
                  <li><a href="#">List Item 2</a></li>
                  <li>List Item 3</li>
                  <li>List Item 4</li>
                  <li>List Item 5</li>
               </ul>
            </li>
            <li><a href="#">List Item 3</a></li>
            <li>List Item 4</li>
            <li>List Item 5
               <ol>
                  <li>List Item 1</li>
                  <li><a href="#">List Item 2</a></li>
                  <li>List Item 3</li>
                  <li>List Item 4</li>
                  <li>List Item 5</li>
               </ol>
            </li>
         </ul>
         
         <h3 class="font_sansation">Sample list with graphic bullets</h3>
         
         <ul class="graphic_bullet">
            <li>List Item 1</li>
            <li>List Item 2</li>
            <li><a href="#">List Item 3</a></li>
            <li>List Item 4</li>
            <li>List Item 5</li>
         </ul>
         
         <h3 class="font_sansation">A blockquote (h3)</h3>
         <blockquote>
            <p>Sed sed tellus justo, sed suscipit leo. Phasellus fringilla, est eget mollis tincidunt, elit mauris aliquet metus, eu luctus est mi sit amet enim. In euismod sapien vel lacus auctor venenatis rhoncus vel enim. Nullam condimentum ultricies velit, sit amet rhoncus dui egestas semper. Suspendisse at odio sit amet massa ultrices luctus. Donec sagittis, eros in rhoncus accumsan, est massa consectetur mi, sit amet gravida eros justo ac lectus. Nunc at metus nisi, sit amet dignissim justo. Ut vehicula blandit felis, non sollicitudin quam sodales ut. Aliquam tincidunt semper urna vel pharetra. Maecenas nec aliquet erat. Nam in quam urna. Proin dapibus pulvinar dui, sit amet pretium dolor lobortis at. Integer non massa libero.</p>
         </blockquote>
         <h4 class="font_sansation">Ordered List (h4)</h4>
         <ol>
            <li>List Item 1</li>
            <li>List Item 2
               <ul>
                  <li>List Item 1</li>
                  <li><a href="#">List Item 2</a></li>
                  <li>List Item 3</li>
                  <li>List Item 4</li>
                  <li>List Item 5</li>
               </ul>
            </li>
            <li><a href="#">List Item 3</a></li>
            <li>List Item 4</li>
            <li>List Item 5
               <ol>
                  <li>List Item 1</li>
                  <li><a href="#">List Item 2</a></li>
                  <li>List Item 3</li>
                  <li>List Item 4</li>
                  <li>List Item 5</li>
               </ol>
            </li>
         </ol>
         <h5 class="font_sansation">Simple Paragraph (h5)</h5>
         <p>
         
         <span class="image_with_desc_wrap align_right">
         	<img src="/Content/images/sample-image-2.jpg" alt="" />
            <span class="image_desc png_fix">
            	<span>Sample Image Description</span>
            </span>
         </span>
         
         Duis commodo faucibus vulputate. Etiam dignissim, velit non convallis auctor, lorem nulla blandit arcu, ut blandit dui dolor eget neque. Vestibulum dui dui, facilisis at varius at, convallis quis urna. Sed orci elit, ornare ut feugiat at, dignissim ut augue. Duis sit amet risus vitae eros eleifend tincidunt sed ac lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut metus quam. Aliquam erat volutpat. Maecenas non risus libero, nec viverra quam. Quisque at nisl diam, id euismod nunc. Nullam consectetur odio id diam mattis vulputate. In in augue eget libero commodo sodales ut ac risus. Etiam id urna mi, eget gravida purus. Donec diam eros, vulputate id interdum eget, consectetur nec dolor. Proin sed magna varius magna tincidunt suscipit nec vel purus.</p>
         </div>
      </div>
